:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}


body {
    background: #90C9BF;
}

h1 {
    text-align: center;
    font-size: 40px
}

.login__container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.login__card {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


.form__input {
    width: 200px;
    margin-bottom: 5px;
    font-size: 20px
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px
}

.form-field.success input {
    border-color: var(--success-color);
    display: block
}

.form-field.error input {
    border-color: var(--error-color);
}

small {
    width: 200px;
    margin-bottom: 5px;
}
button {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;

}

.cancel {
    margin-left: 12px;
}

.register {
    margin-top: 5px;
}

.error {
    text-align: center;
    font-size: 20px;
    color: red;
}
